/* About.css */

.about-container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    align-self: center;
    background-color: rgba(24, 23, 23, 0.9);
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
  }
  
  .about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .about-description {
    font-size: 17px;
    line-height: 1.6;
    color: #fffcfc; 
  }
  