/* TopContainer.css */

.top-container {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
  align-self: center;
  background-color: transparent;
  border-radius: 8px;
  width: 60%;
  box-shadow: 0 0 10px transparent; 
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 70px;
  }
  
  .menu-button {
    align-self: flex-end;
    cursor: pointer;
    
  }
  
  .bottom-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
  }
  
  .name {
    font-size: 22px;
  }
  
  .circular-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #525050; 
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
  }
  .circular-button :hover {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1463da; 
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
  }
  