/* TopContainer.css */

.top-container {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  
  text-align: center;
  align-self: center;
  background-color: transparent;
  border-radius: 8px;
  width: 60%;
  box-shadow: 0 0 10px transparent; 
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 70px;
  }
  
 
.menu-button {
  align-self: flex-end;
  cursor: pointer;
  position: relative;
  
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 200px;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #555;
}

  .icon{
    font-size: 50px;
  }
  .bottom-section {
    display: flex;
  
    justify-content: space-between;
    width: 100%;
   
  }
  
  .name {
    font-size: 22px;
  }
  


  